body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    background-color: #fc03038b;
    border: none;
    color: rgb(239, 240, 245);
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}



